[Unit]
Description=Enable PulseAudio RTP After Network
Requires=pulseaudio.service
ConditionUser=!root
# Ha ha! You fool! You probably thought you could depend on
# the system service! But it is not so.
# https://wiki.archlinux.org/title/systemd/User
# "User units can not reference or depend on system units or units of other users."
# So I guess instead we'll just retry every five seconds and hope for
# the best. Eyeroll.
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/home/pi/whole-house-audio/bluetooth-sink/pulse-delayed-rtp.sh
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
Restart=on-failure
RestartSec=5
RestrictNamespaces=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
Type=oneshot
UMask=0077

[Install]
WantedBy=default.target
